<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jsp-2.2</feature>
        <feature>jdbc-4.0</feature>
        <feature>jndi-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="${default.host}"
                  httpPort="${default.http.port}"
                  httpsPort="${default.https.port}" />


    <application context-root="/" type="war" id="sqlservlet"
                 location="sqlservlet.war" name="sql"/>


    <library id="OracleLib">
        <fileset dir="lib" includes="ojdbc6.jar"/>
    </library>

    <dataSource id="oracleDS" jndiName="jdbc/ds01" type="javax.sql.DataSource">
        <jdbcDriver libraryRef="OracleLib" id="oracle-driver"/>
        <connectionManager numConnectionsPerThreadLocal="10" id="ConnectionManager" minPoolSize="1"/>
        <properties.oracle
                URL="${env.OPENSHIFT_ORACLE_DB_URL}"
                user="${env.OPENSHIFT_ORACLE_DB_USERNAME}"
                password="${env.OPENSHIFT_ORACLE_DB_PASSWORD}" />
    </dataSource>
</server>
